body{background-color: rgb(226, 226, 226) !important;}
.main-div{
    right: 50% !important;
    bottom: 50% !important;
    transform: translate(50% ,50%)!important;
    position: absolute !important;}

 .input[type=text], select {
      margin: unset;
    }  
    input::placeholder {
      padding: 0 10px;
      }   
    .main-div.Polaris-Card{
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
     align-items: center;
    -webkit-box-shadow: -1px 3px 23px -8px rgba(0,0,0,0.55);
    -moz-box-shadow: -1px 3px 23px -8px rgba(0,0,0,0.55);
    box-shadow: -1px 3px 23px -8px rgba(0,0,0,0.55);}
     .bg{width: 100%; overflow: hidden;}
     .bg img{width: 100%;height: 100vh;}